
<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>ON Artmake & SEFA Artmake Academy</title>
<meta name="description" content="オンアートメイク、医療アートメイク（眉・アイライン・リップ・ヘアライン）を提供するON Artmake & SEFA Artmake Academyの公式サイトです。ON Artmake & SEFA Artmake Academyでは眉を1本1本描く、「刺繍眉」や「3D眉」、「3Dストローク」と呼ばれる技法からさらに技法を進化させた新技術「6Dストローク®」をご提供いたします。まずは無料カウンセリングからお気軽にご相談ください。オンアートメイク,アートメイク,東京,眉毛,リップ,アイライン,ヘアライン,SMP">
<meta name="keywords" content="御アートメイク,オンアートメイク,おんくりにっく,アートメイク,Artmake,眉,アイライン,リップ,ヘアライン,眉毛アートメイク,アート メイク 東京,アート メイク 韓国,アート メイク 眉毛 アート メイク,アート メイク 眉,リップ アート メイク,眉毛 アート メイク 値段,眉毛 アート メイク 安い,眉毛 アート 値段,唇 アート メイク,眉毛 アート メイク 東京,眉毛 アート 安い,眉毛 アート メイク 人気,メディカル アート メイク,アート メイク 値段,医療 アート メイク,韓国 眉毛 アート,韓国 アート メイク,the artmake tokyo,アート メイク,東京 アート メイク,3d アート メイク,リップ アート メイク 東京,リップ アート メイク 安い,4d アート メイク,アート メイク 男,眉毛 アート メイク 韓国,眉毛 アート,韓国 アート メイク 眉">
<meta name="Robots" content="INDEX,FOLLOW">
<meta name="Robots" content="NOYDIR">
<link rel="icon" type="image/vnd.microsoft.icon" href="./img/common/favicon.ico">
<link rel="apple-touch-icon" href="./img/common/apple-touch-icon.png">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="ON Artmake & SEFA Artmake Academy">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="./img/common/ogp.png">
<meta property="og:site_name" content="ON Artmake & SEFA Artmake Academy">
<meta property="og:description" content="オンアートメイク、医療アートメイク（眉・アイライン・リップ・ヘアライン）を提供するON Artmake & SEFA Artmake Academyの公式サイトです。ON Artmake & SEFA Artmake Academyでは眉を1本1本描く、「刺繍眉」や「3D眉」、「3Dストローク」と呼ばれる技法からさらに技法を進化させた新技術「6Dストローク®」をご提供いたします。まずは無料カウンセリングからお気軽にご相談ください。オンアートメイク,アートメイク,東京,眉毛,リップ,アイライン,ヘアライン,SMP">



<!-- stylesheets -->
<link rel="stylesheet" media="screen,print" href="./css/normalize.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" media="screen,print" href="./css/utility.css">
<link rel="stylesheet" media="screen,print" href="./css/common.css">
<!--option-->
<link rel="stylesheet" media="screen,print" href="./css/form.css">
<link rel="stylesheet" media="screen,print" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="./js/validationengine/validationEngine.jquery.css">
<!--/option-->
<link rel="stylesheet" media="screen,print" href="./css/style.css?update=0811">


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NF35ZFD5');</script>
  <!-- End Google Tag Manager -->


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF35ZFD5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header" class="lower-header">
   <p class="lower-header_logo"><a href="./">御アートメイク（KARIS Beauty Clinic）</a></p>
</header>
<div class="form-section">
  <section id="form" class="form-section_inner">
    <h2 class="p-en-title ">
      <span class="en small">-Reservation</span>
      <span class="jp">ご予約フォーム</span>
    </h2>
		<p class="u-text-bold u-mb-3em u-text-large u-text-center">ご予約・お問合せありがとうございました。<br>近日中に折り返しご連絡致しますのでしばらくお待ち下さい。</p>


	</ul>

    <p class="u-button-detail u-text-center is-back is-large"><a href="./">ホームへ戻る</a></p>
  </section>
</div>

<!-- footer -->
<footer class="footer">Copyright@御アートメイク（KARIS Beauty Clinic） all rights reserved.</footer>
<p class="pagetop"><a href="#header"><img src="./img/common/pagetop.png" alt="ページ先頭へ"/></a></p>
<!--script-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="./js/breakpoints.js"></script>
<script src="./js/default.js?date=181101"></script>

</body>
</html>