@charset "UTF-8";
/*-------------------------------------------------------------------

	form

-------------------------------------------------------------------*/
/*reset*/
.form-data {
  width: 100%;
}
.form-data input[type="submit"], .form-data input[type="button"] {
  border-radius: 0;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  cursor: pointer;
}
.form-data input[type="submit"]::-webkit-search-decoration, .form-data input[type="button"]::-webkit-search-decoration {
  display: none;
}
.form-data input[type="submit"]::focus, .form-data input[type="button"]::focus {
  outline-offset: -2px;
}

/*setting*/
.must-icon::after {
  content: "必須";
  display: inline-block;
  font-weight: 500;
  color: #FFF;
  border-radius: 4px;
  padding: .3em .4em;
  background: #c9867b;
  font-size: 10px;
  font-family: "Noto Sans Japanese", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.form-flow {
  margin-bottom: 3rem;
}
.form-flow::after {
  content: "";
  display: block;
  clear: both;
}
.form-flow li {
  float: left;
  width: 32.173913%;
  margin-right: 1.7391304%;
  padding: 1em 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  font-family: "Noto Serif Japanese", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
  border-bottom: 2px solid #DDD;
}
.form-flow li:last-child {
  margin-right: 0;
}
.form-flow li.current {
  color: #e10052;
  border-bottom-color: #e10052;
}

/*form parts*/
.form-data .cell-even tr:nth-child(even) th, .form-data .cell-even tr:nth-child(even) td {
  background: #f7f7f7;
}
.form-data .cell-odd tr:nth-child(odd) th, .form-data .cell-odd tr:nth-child(odd) td {
  background: #f7f7f7;
}
.form-data table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #333;
}
.form-data table th, .form-data table td {
  display: block;
  width: 100%;
  text-align: left;
  vertical-align: top;
}
.form-data table th {
  padding: 1.25rem 3em 1.25rem 1rem;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.3rem;
  border-top: 1px solid #333;
  background-color: #f9e7ee;
  position: relative;
}
.form-data table td {
  padding: 1.5rem 1rem 2.5rem;
}
.form-data .list-inline > li {
  display: inline-block;
  margin: 0 1em 0 0;
}
.form-data .list-inline > li label {
  padding-top: .3em;
  line-height: 1.3;
}
.form-data .list-inline.is-margin > li {
  display: inline-block;
  margin: 0 1em .7em 0;
}
.form-data .list-block > li {
  display: block !important;
  margin: 0 0 1em 0;
}
.form-data .list-block > li label {
  padding-top: .3em;
  line-height: 1.3;
}
.form-data .list-block.harf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-data .list-block.harf > li {
  width: 49%;
  /* margin-left: 2%; */
}
.form-data .list-block.harf > li:nth-child(2n+1) {
  margin-left: 0;
}
.form-data .caption {
  margin: 5px 0 0;
  font-size: .88em;
  line-height: 1.5;
}
.form-data .hope > div {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #DDD;
}
.form-data .hope > div > span {
  display: inline-block;
  margin: 0 .2em .5em 0;
}
.form-data .hope > div > span:last-child {
  margin-right: 0;
}
.form-data .hope > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.form-data .spot li {
  margin-bottom: 1em;
}
.form-data input[type="text"], .form-data input[type="number"], .form-data input[type="email"], .form-data input[type="tel"], .form-data textarea {
  -webkit-appearance: none;
  padding: 1em .5em;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.form-data input[name="age"] {
  width: 5em;
}
.form-data input[type="radio"], .form-data input[type="checkbox"] {
  margin: 0 8px 0 0;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
}
.form-data select {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 1em 1.5em 1em .5em;
  font-size: 16px;
  min-height: 3em;
  border-radius: 4px;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAABMElEQVRIicXVvUrDUBjG8Z/xBtyE6gU4W7wDxSq6uBW3uol4EU7OLq4quEsvwMUujkV0EMduTl0KCn4MJ4USe2oTa/Isgfc9yfPnvB+Zq9frq7jGinLVw2GCswrMYRkXCZYqMB9qIcFVhQA3CU7QrsD8Hq0EH2jirkTzF+yin6SBQRp4KMH8FVvpUzKS6GNbGI//Uh8bwg3IAkjNN4d0M9Y79tAdDWYB4Ekox2CG5p9o4TabGAdA6NCm0KCz0JGwbX8oBkAYzQN8/dH8FOex5HytVpv0chdvWC9ofonjSQd+A4AOFrGW07yNfaH+UU0qwaiiNYxo6h6aFiDaxWP0KMcUTQtAZI4z6qEhxx7JA8CYTZbJ5d6keQHI7PJUA+wo8C8pAkC4gUZq+CyUplPkQ9+cPEKCLYZGfQAAAABJRU5ErkJggg==) no-repeat right 6px center;
  background-size: 10px;
}
.form-data .wide {
  width: 100%;
}
.form-data .wide-date {
  width: 14em;
}
.form-data .half {
  width: 50%;
}
.form-data .name {
  width: 40%;
}
.form-data .tel-small {
  width: 25%;
}

/*button*/
.form-data .form-button {
  padding-top: 2em;
  margin-bottom: 2em;
}
.form-data .form-button input.button {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 1.4em 0 1.3em;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  margin: 0 auto 1em;
  color: #FFF;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: "Noto Serif Japanese", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
}
.form-data .form-button.is-2col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-data .form-button.is-2col form {
  width: 100%;
}
.form-data .form-button input.button-send {
  background: #c9867b;
  color: #fff;
}
.form-data .form-button input.button-send:disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  cursor: not-allowed;
}
.form-data .form-button input.button-mod {
  background: #999;
  color: #fff;
}

/*option*/
div#ui-datepicker-div {
  z-index: 9999 !important;
}

.ui-datepicker-trigger {
  display: inline-block;
  width: 2.2em;
  margin-left: .5em;
  vertical-align: middle;
}

.form-privacy {
  border: 1px solid #DDD;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #FFF;
  font-size: 1.1rem;
  line-height: 1.6;
}
.form-privacy_title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1em;
  color: #57585d;
}
.form-privacy_subtitle {
  font-size: 1.1em;
  margin-bottom: .5em;
}
.form-privacy_inner {
  height: 12rem;
  padding-right: 1em;
}
.form-privacy_inner dt {
  font-weight: 500;
}
.form-privacy_inner dd {
  margin-bottom: 1em;
}
.form-privacy_inner .text-small {
  /* font-size: .9em; */
}

.form-consent {
  border: 5px solid #f4e7e5;
  background-color: #FFF;
  padding: 2em;
  text-align: center;
  line-height: 1.3;
  font-weight: 500;
}
.form-consent > :last-child {
  margin-bottom: 0;
}

.button-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .2;
}

/*-------------------------------------------------------------------
	form PC
-------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*setting*/
  .must-icon::after {
    padding: .5em .7em;
    font-size: 12px;
  }

  .form-flow {
    margin: 0 auto 7rem;
    width: 830px;
  }

  .form-flow li {
    font-size: 2.4rem;
  }

  /*form parts*/
  .form-data table {
    margin-bottom: 2em;
    border-collapse: separate;
    border-spacing: 0;
  }
  .form-data table th, .form-data table td {
    display: table-cell;
    vertical-align: middle;
  }
  .form-data table th {
    width: 34%;
    padding: 3rem 2rem;
    font-size: 1.6rem;
  }
  .form-data table td {
    width: 66%;
    padding: 3rem 3rem;
    border-top: 1px solid #333333;
    font-size: 1.6rem;
  }
  .form-data .caption {
    font-size: .78em;
  }
  .form-data .spot li {
    margin-bottom: .5em;
  }

  /*button*/
  .form-data .form-button input.button {
    font-size: 26px;
    width: 40%;
  }
  .form-data .form-button.is-2col {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .form-data .form-button.is-2col form {
    width: 49%;
    text-align: center;
  }
  .form-data .form-button.is-2col form:first-child {
    order: 2;
  }
  .form-data .form-button.is-2col form:last-child {
    order: 1;
  }
  .form-data .form-button.is-2col input.button {
    width: 100%;
  }

  /*option*/
  .form-privacy {
    padding: 4rem;
    font-size: 1.3rem;
  }
  .form-privacy_title {
    text-align: center;
    font-size: 1.8rem;
  }
  .form-privacy_inner {
    height: 24rem;
  }

  .form-consent {
    border-width: 10px;
  }
}
