@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap");
/* @font-face {
  font-family: "Noto Sans Japanese";
  src: url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Light.woff2") format("woff2"), url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  src: url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Regular.woff2") format("woff2"), url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  src: url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Medium.woff2") format("woff2"), url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  src: url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Bold.woff2") format("woff2"), url("../../../assets/fonts/NotoSansJP/NotoSansCJKjp-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'icomoon';
  src: url("../../../assets/fonts/icomoon/icomoon.eot?97hw59");
  src: url("../../../assets/fonts/icomoon/icomoon.eot?97hw59#iefix") format("embedded-opentype"), url("../../../assets/fonts/icomoon/icomoon.ttf?97hw59") format("truetype"), url("../../../assets/fonts/icomoon/icomoon.woff?97hw59") format("woff"), url("../../../assets/fonts/icomoon/icomoon.svg?97hw59#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */
/*-------------------------------------------------------------------

	Utility

-------------------------------------------------------------------*/
.u-sp-item {
  display: block !important;
}
.u-sp-item-inline {
  display: inline !important;
}
.u-sp-item-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-pc-item, .u-pc-item-inline, .u-pc-item-flex {
  display: none !important;
}

.u-marker {
  background: #FFFF73;
  font-style: normal;
}

.u-marker-under {
  background: linear-gradient(transparent 65%, #ffff66 35%);
}

.u-clr {
  clear: both;
}

.u-mb-0em {
  margin-bottom: 0 !important;
}
.u-mb-05em {
  margin-bottom: .5em !important;
}
.u-mb-1em {
  margin-bottom: 1em !important;
}
.u-mb-2em {
  margin-bottom: 2em !important;
}
.u-mb-2_5em {
  margin-bottom: 2.5em !important;
}
.u-mb-3em {
  margin-bottom: 3em !important;
}

.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-bold {
  font-weight: bold;
}
.u-text-red {
  color: #c9867b;
}
.u-text-red2 {
  color: #e10052;
}
.u-text-blue {
  color: #003686;
}
.u-text-orange {
  color: #ec652a;
}
.u-text-brown {
  color: #67543f;
}
.u-text-navy {
  color: #1c3a70;
}
.u-text-pink {
  color: #fbeaf2 !important;
}
.u-text-small {
  font-size: .93em;
}
.u-text-x-small {
  font-size: .86em;
}
.u-text-xx-small {
  font-size: .79em;
}
.u-text-large {
  font-size: 1.07em;
}
.u-text-x-large {
  font-size: 1.14em;
}
.u-text-xx-large {
  font-size: 1.29em;
}
.u-text-xxx-large {
  font-size: 1.57em;
}
.u-text-xxxx-large {
  font-size: 1.71em;
}
.u-text-serif {
  font-family: "Noto Serif Japanese", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
}
.u-text-times {
  font-family: "Times New Roman", Times, "serif";
}
.u-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.u-text-palt {
  letter-spacing: 0;
  font-feature-settings: "palt";
}

.u-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.u-item-left {
  float: left;
}
.u-item-left.is-margin {
  margin: 0 1.5em 1em 0;
}
.u-item-right {
  float: right;
}
.u-item-right.is-margin {
  margin: 0 0 1em 1.5em;
}
.u-item-overflow-hidden {
  overflow: hidden;
}
.u-item-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-item-left-pc, .u-item-right-pc {
  margin: 0 auto 1em;
  text-align: center;
}
.u-item-inline {
  display: inline;
}

.u-figcaption-basic {
  text-align: center;
  padding-top: .5em;
}
.u-figcaption-basic.is-left {
  text-align: left;
}

.u-ul-basic, .u-ol-basic {
  padding-left: 1.5em;
  line-height: 1.4;
}

.u-ul-basic li {
  list-style-type: disc;
  padding: 0 0 .5em 0;
}

.u-ol-basic li {
  list-style-type: decimal;
  padding: 0 0 .5em 0;
}

.u-ul-basic > :last-child, .u-ol-basic > :last-child {
  padding: 0;
}

.u-ul-inline li {
  display: inline-block;
  margin: 0 2em .5em 0;
}

.u-check-list li {
  margin: 0 0 .7em 0;
  padding: 0 0 0 2em;
  line-height: 1.4;
}
.u-check-list li:last-child {
  margin: 0;
}
.u-check-list li::before {
  content: "\f00c";
  display: inline-block;
  margin-left: -2em;
  width: 2em;
  font-family: "Font Awesome 5 Free";
  text-align: center;
  font-weight: 600;
}

.u-check-list.is-black li::before {
  color: inherit;
}

.u-caution-list li {
  margin: 0 0 .7em 0;
  padding: 0 0 0 2em;
  line-height: 1.4;
}
.u-caution-list li:last-child {
  margin: 0;
}
.u-caution-list li::before {
  content: "＊";
  display: inline-block;
  margin-left: -2em;
  width: 2em;
  text-align: center;
  font-weight: 600;
}

.u-dl-basic dt {
  padding-left: .8em;
  margin-bottom: .5em;
  line-height: 1.4;
  font-weight: 600;
  border-left: 4px solid #ccc;
  border-radius: 2px 0 0 2px;
}
.u-dl-basic dd {
  font-size: .88em;
  padding-left: 1.2em;
  margin-bottom: 2em;
}
.u-dl-basic > :last-child {
  margin-bottom: 0;
}

/*table*/
.u-table-basic {
  width: 100%;
  border: 1px solid #333;
  background: #FFF;
}
.u-table-basic th, .u-table-basic td {
  border: 1px solid #333;
  padding: 1em .5em;
}
.u-table-basic th {
  padding: 1em .5em;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  background: #efefef;
  line-height: 1.4;
}
.u-table-basic td {
  text-align: left;
  vertical-align: top;
  line-height: 1.4;
  font-weight: 500;
}
.u-table-basic td.yen {
  text-align: right;
}
.u-table-basic td.unit {
  text-align: center;
}
.u-table-basic td.emp {
  background-color: #ffeeee;
}
.u-table-basic.price th {
  font-size: 12px;
  font-size: 1.2rem;
  background-color: #DDD;
}
.u-table-basic.price td {
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
}
.u-table-basic.price th.camp {
  color: #c9867b;
  background-color: #ffe2e5;
}
.u-table-basic.price td.camp {
  color: #c9867b;
  background-color: #fff3f4;
}
.u-table-basic.diff td {
  vertical-align: middle;
  text-align: center;
}

/*button*/
.u-button-detail {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
}
.u-button-detail a {
  display: inline-block;
  text-decoration: none;
  color: #67543f;
  background: #f4f1eb;
  padding: 1em 1.5em;
  border: 1px solid #67543f;
}
.u-button-detail a::after {
  content: "\f105";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  margin-left: .5em;
  font-size: 1.2em;
}
.u-button-detail.is-back a::after {
  content: "\f0e2";
}
.u-button-detail.is-center {
  text-align: center;
}
.u-button-detail.is-right {
  text-align: right;
}
.u-button-detail.is-middle a {
  font-size: 1.16em;
}
.u-button-detail.is-small a {
  font-size: 0.85em;
}
.u-button-detail.is-large a {
  font-size: 1.33em;
}
.u-button-detail.is-wide a {
  display: block;
  text-align: center;
}
.u-button-detail.is-white a {
  color: #FFF;
  background: transparent;
  border-color: #FFF;
}
.u-button-detail.is-green a {
  color: #339966;
  background: transparent;
  border-color: #339966;
}

.u-button {
  border-radius: 4px;
}
.u-button a {
  text-decoration: none;
  display: block;
  padding: 1em .6em;
}

.u-hr-basic {
  border: none;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 1em;
}

/*flex*/
.u-flex-basic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.u-flex-basic.is-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.u-flex-basic.is-center-x {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.u-flex-basic.is-center-y {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.u-flex-basic.is-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-flex-basic.column1-2 > li {
  width: 100%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column2-2 > li {
  width: 48.5%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column2-3 > li {
  width: 48.5%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column2-4 > li {
  width: 48.5%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column3-3 > li {
  width: 31.5942%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column3-3::after {
  content: "";
  display: block;
  width: 31.5942%;
}
.u-flex-basic.column3-5 > li {
  width: 31.5942%;
  margin: 0 0 1em;
  text-align: center;
}
.u-flex-basic.column3-5::after {
  content: "";
  display: block;
  width: 31.5942%;
}
.u-flex-basic.column2-5 > li {
  width: 48%;
  margin: 0 0 1em;
  text-align: center;
  box-sizing: border-box;
}

.u-item-box {
  border: 1px solid #DDD;
  padding: 1.2em;
}

.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-track-piece:start {
  background: #ddd;
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-track-piece:end {
  background: #ddd;
  border-radius: 4px;
}

/*animate*/
.a-animate {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

/*RADIO BUTTON*/
.u-radio {
  margin: 0 2em .5em 0;
  display: inline-block;
}
.u-radio > input[type=radio] {
  position: absolute;
  opacity: 0;
}
.u-radio > input[type=radio] + label {
  padding-left: 28px;
  position: relative;
  display: block;
}
.u-radio > input[type=radio] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}
.u-radio > input[type=radio] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #666;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  transform: scale(0, 0);
}
.u-radio > input[type=radio]:checked + label::after {
  transform: scale(1, 1);
}

/*CHECK BOX*/
.u-check {
  margin: 0 2em .5em 0;
  display: inline-block;
}
.u-check > input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.u-check > input[type=checkbox] + label {
  padding-left: 28px;
  position: relative;
  display: block;
}
.u-check > input[type=checkbox] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ededed 0%, #dfdfdf 40%, #dfdfdf 100%);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}
.u-check > input[type=checkbox] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 7px;
  height: 14px;
  border-bottom: 4px solid #424242;
  border-right: 4px solid #424242;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: scale(0, 0) rotate(0deg);
  transform: scale(0, 0) rotate(0deg);
  opacity: 0;
}
.u-check > input[type=checkbox]:checked + label::after {
  -webkit-transform: scale(1, 1) rotate(40deg);
  transform: scale(1, 1) rotate(40deg);
  opacity: 1;
}

/*-------------------------------------------------------------------
	SP
-------------------------------------------------------------------*/
@media (max-width: 767px) {
  .u-spitem-w-20 {
    width: 20%;
  }
  .u-spitem-w-30 {
    width: 30%;
  }
  .u-spitem-w-40 {
    width: 40%;
  }
  .u-spitem-w-45 {
    width: 45%;
  }
  .u-spitem-w-50 {
    width: 50%;
  }
  .u-spitem-w-60 {
    width: 60%;
  }
  .u-spitem-w-70 {
    width: 70%;
  }
  .u-spitem-w-80 {
    width: 80%;
  }
  .u-spitem-w-90 {
    width: 90%;
  }
  .u-spitem-w-100 {
    width: 100%;
  }
  .u-spitem-center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
	
/*-------------------------------------------------------------------
	0823 追記
-------------------------------------------------------------------*/
	
	
	.app_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 3em;
    flex-direction: column;
	}
	.app_list li{
    width: 100%;
    padding: 5px;
	}
	.app_list li img{
		width: 100%;
	}
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}

	.app_list_btn {
		display: flex;
	}
	
	
	
	
}
/*-------------------------------------------------------------------
	PC
-------------------------------------------------------------------*/
@media (min-width: 768px) {
  .u-sp-item, .u-sp-item-inline, .u-sp-item-flex {
    display: none !important;
  }

  .u-pc-item {
    display: block !important;
  }
  .u-pc-item-inline {
    display: inline !important;
  }
  .u-pc-item-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  /*table*/
  .u-table-basic.price th {
    font-size: 20px;
    font-size: 2rem;
  }
  .u-table-basic.price td {
    font-size: 20px;
    font-size: 2rem;
  }

  /*button*/
  .u-button-detail {
    font-size: 16px;
  }
  .u-button-detail.is-middle a {
    font-size: 1.33em;
  }
  .u-button-detail.is-large a {
    font-size: 1.5em;
  }

  .is-hover-left a, .is-hover-bottom a {
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    overflow: hidden;
  }
  .is-hover-left a span, .is-hover-bottom a span {
    position: relative;
    z-index: 1;
  }
  .is-hover-left a::after, .is-hover-bottom a::after {
    position: relative;
    z-index: 1;
  }
  .is-hover-left a::before, .is-hover-bottom a::before {
    content: "";
    display: block;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #333333;
  }
  .is-hover-left a::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }
  .is-hover-left a:hover {
    color: #fff;
  }
  .is-hover-left a:hover::before {
    left: 0;
  }
  .is-hover-bottom a::before {
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .is-hover-bottom a:hover {
    color: #fff;
  }
  .is-hover-bottom a:hover::before {
    bottom: 0;
  }

  .u-text-small {
    font-size: .88em;
  }
  .u-text-x-small {
    font-size: .77em;
  }
  .u-text-xx-small {
    font-size: .66em;
  }
  .u-text-large {
    font-size: 1.11em;
  }
  .u-text-x-large {
    font-size: 1.22em;
  }
  .u-text-xx-large {
    font-size: 1.33em;
  }
  .u-text-xxx-large {
    font-size: 1.44em;
  }
  .u-text-xxxx-large {
    font-size: 1.55em;
  }

  .u-table-basic th, .u-table-basic td {
    padding: 1em;
  }

  .u-item-left-pc {
    float: left;
    margin: 0 1.5em 1em 0;
  }
  .u-item-right-pc {
    float: right;
    margin: 0 0 1em 1.5em;
  }

  .u-pcitem-w-20 {
    width: 20%;
  }
  .u-pcitem-w-25 {
    width: 25%;
  }
  .u-pcitem-w-30 {
    width: 30%;
  }
  .u-pcitem-w-40 {
    width: 40%;
  }
  .u-pcitem-w-45 {
    width: 45%;
  }
  .u-pcitem-w-50 {
    width: 50%;
  }
  .u-pcitem-w-60 {
    width: 60%;
  }
  .u-pcitem-w-70 {
    width: 70%;
  }
  .u-pcitem-w-80 {
    width: 80%;
  }
  .u-pcitem-w-90 {
    width: 90%;
  }
  .u-pcitem-w-100 {
    width: 100%;
  }
/*-------------------------------------------------------------------
	0823 追記
-------------------------------------------------------------------*/
	
	
	.app_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 3em;
	}
	.app_list li{
    width: 50%;
    padding: 15px;
	}
	.app_list li img{
		width: 100%;
	}
	.pc {
		display: block;
	}
	.sp {
		display: none;
	}
	
	
	
	
}
