.AboutMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    /* padding-left: 20%; */
    /* padding-right: 20%; */
    /* background-color: #f2f2f2; */
}

.AboutMenuHeader {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.AboutMenuPhotosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.AboutMenuPhotoContainer {
    padding: 2em;
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.AboutMenuPhotoContainer:nth-child(1) .AboutMenuOverlay {
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.AboutMenuPhotoContainer:hover .AboutMenuOverlay {
    opacity: 1;
}

.AboutMenuSpecial {
    border: 4px solid #FFD700;
}

.AboutMenuPhoto {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px rgb(134, 134, 134);
}

.AboutMenuPhoto:hover {
    transform: scale(1.1);
    z-index: 1;
}

.AboutMenuPhoto:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.8);
    opacity: 0;
    transition: all 0.5s ease;
}
.AboutMenuPhoto:hover:before {
    opacity: 1;
  }


.AboutMenuTextContainer {
    margin-top: 10px;
}

@media (max-width: 767px) {
    .AboutMenuPhotoContainer {
        width: 50%;
    }
    .AboutMenu {
        padding-left: 0;
        padding-right: 0;
    }
    .AboutMenuPhotoContainer {
        padding: 1em;
        margin-bottom: 0;
    }
}