.reservation {
    padding: 12px 24px;
    background-color: #b7b7b7;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  .reservation:hover {
    background-color: #f9dd60;
  }
  
  .confirmed {
    background-color: #fbb573;
    animation: pulse 1s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }